{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{% endblock %}
{% block menu %}
    {% include "empleado/menu.html" %}
{% endblock %}
{% block contenido %}

<div class="container">
    <h3 class="text-center mt-3 fw-bold">Modulo Empleado</h3>

    <div class="row" style="margin: 0 auto !important; width: 55%">
        <div class="col-sm" style="margin-bottom: 4rem;">
          <a href="/vistaSolicitud/">
            <div class="text-center icon" style="font-size: 5rem;">
              <i class="icon ion-compose"></i>
            </div>
          </a>
          <div class="text-center fw-bold">Solicitudes</div>
        </div>
        <div class="col-sm" style="margin-bottom: 4rem;">
          <a href="/salir/">
            <div class="text-center icon" style="font-size: 5rem;">
              <i class="icon ion-android-exit"></i>
            </div>
          </a>
          <div class="text-center fw-bold">Salir</div>
        </div>
      </div>

</div>

{% endblock %}

{% block piePagina %}
    {% include "piePagina.html" %}
{% endblock %}