{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{% endblock %}
{% block menu %}
    {% include "administrador/menu.html" %}
{% endblock %}
{% block contenido %}

<div class="container d-flex flex-column justify-content-center align-items-center gap-4">

    <h3 class="text-center mt-3 fw-bold">Modulo Administrativo</h3>

    <div class="row" style="margin: 0 auto !important; width: 55%">
        <div class="col-sm" style="margin-bottom: 4rem;">
          <a href="/listarCasosParaAsignar/">
            <div class="text-center icon" style="font-size: 5rem;">
              <i class="icon ion-clipboard"></i>
            </div>
          </a>
          <div class="text-center fw-bold">Casos</div>
        </div>
        <div class="col-sm">
          <a href="/vistaGestionarUsuarios/">
            <div class="text-center icon" style="font-size: 5rem;">
              <i class="icon ion-person-add "></i>
            </div>
          </a>
          <div class="text-center fw-bold">Registrar Usuarios</div>
        </div>
        <div class="col-sm">
          <a href="/vistaMirarUsuarios/">
            <div class="text-center icon" style="font-size: 5rem;">
              <i class="icon ion-person-stalker "></i>
            </div>
          </a>
          <div class="text-center fw-bold">Gestionar Usuarios</div>
        </div>
        <div class="col-sm">
          <a href="/admin/">
            <div class="text-center icon" style="font-size: 5rem;">
              <i class="icon         ion-social-tux "></i>
            </div>
          </a>
          <div class="text-center fw-bold">Admin</div>
        </div>
        <div class="col-sm">
          <a href="/graficas/">
            <div class="text-center icon" style="font-size: 5rem;">
              <i class="icon ion-pie-graph "></i>
            </div>
          </a>
          <div class="text-center fw-bold">Reportes</div>
        </div>
        
        <div class="col-sm" style="margin-bottom: 4rem;">
          <a href="/salir/">
            <div class="text-center icon" style="font-size: 5rem;">
              <i class="icon ion-android-exit"></i>
            </div>
          </a>
          <div class="text-center fw-bold">Salir</div>
        </div>
      </div>
    
</div>

{% endblock %}

{% block piePagina %}
    {% include "piePagina.html" %}
{% endblock %}